<!-- START SIGMA IMPORTS -->
<script src="js/sigma/sigma.core.js"></script>
<script src="js/sigma/conrad.js"></script>
<script src="js/sigma/utils/sigma.utils.js"></script>
<script src="js/sigma/utils/sigma.polyfills.js"></script>
<script src="js/sigma/sigma.settings.js"></script>
<script src="js/sigma/classes/sigma.classes.dispatcher.js"></script>
<script src="js/sigma/classes/sigma.classes.configurable.js"></script>
<script src="js/sigma/classes/sigma.classes.graph.js"></script>
<script src="js/sigma/classes/sigma.classes.camera.js"></script>
<script src="js/sigma/classes/sigma.classes.quad.js"></script>
<script src="js/sigma/classes/sigma.classes.edgequad.js"></script>
<script src="js/sigma/captors/sigma.captors.mouse.js"></script>
<script src="js/sigma/captors/sigma.captors.touch.js"></script>
<script src="js/sigma/renderers/sigma.renderers.canvas.js"></script>
<script src="js/sigma/renderers/sigma.renderers.webgl.js"></script>
<script src="js/sigma/renderers/sigma.renderers.svg.js"></script>
<script src="js/sigma/renderers/sigma.renderers.def.js"></script>
<script src="js/sigma/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="js/sigma/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="js/sigma/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="js/sigma/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="js/sigma/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="js/sigma/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.utils.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="js/sigma/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="js/sigma/middlewares/sigma.middlewares.rescale.js"></script>
<script src="js/sigma/middlewares/sigma.middlewares.copy.js"></script>
<script src="js/sigma/misc/sigma.misc.animation.js"></script>
<script src="js/sigma/misc/sigma.misc.bindEvents.js"></script>
<script src="js/sigma/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="js/sigma/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="js/sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>
<div id="container">
  <style>
    #graph-container {
      width: 720px;
      height: 800px;
    }
  </style>
  <div id="graph-container"></div>
</div>
<script>

var data = {
  "nodes": [
  {%- comment -%}
    Look for all nodes.
  {%- endcomment -%}
{%- for coll in site.collections -%}
{%- assign cindex = forloop.index -%}
{%- assign clength = forloop.length -%}
{%- if coll.label != 'posts' -%}
{%- for item in coll.docs -%}
  {%- if cindex == clength and forloop.last -%}
    {"id": "{{ item.title | append: coll.label | replace: ' ', '.' }}", "group": {{ cindex }}}
  {%- else -%}
    {"id": "{{ item.title | append: coll.label | replace: ' ', '.' }}", "group": {{ cindex }}, "groupLabel": "{{coll.label}}"},
  {%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
],
  "links": [
{%- comment -%}
    Create the links.
{%- endcomment -%}
{%- capture links -%}{%- for coll in site.collections -%}
  {%- if coll.label != 'posts' -%}
  {%- for item in coll.docs -%}
    {%- assign sz = item.dependencies | size -%}
    {%- if sz == 0 -%}{%- else -%}
      {%- for dep in item.dependencies -%}
        {%- if dep contains '/servers/' -%}
          {%- assign depobj = site.servers | where:"id", dep | first -%}
        {%- elsif dep contains '/middlewares/' -%}
          {%- assign depobj = site.middlewares | where:"id", dep | first -%}
          {%- assign coll = 'middlewares' -%}
        {%- elsif dep contains '/services/' -%}
          {%- assign depobj = site.services | where:"id", dep | first -%}
          {%- assign coll = 'services' -%}
        {%- elsif dep contains '/infrastructure/' -%}
          {%- assign depobj = site.infrastructure | where:"id", dep | first -%}
          {%- assign coll = 'infrastructure' -%}
        {%- endif -%}
        {"title:" {{ item }}, "source": "{{ item.title | append: coll | replace: ' ', '.' }}", "target": "{{ depobj.title | strip | append: coll | replace: ' ', '.' }}", "value": 1}|
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
{%- endfor -%}{%- endcapture -%}
{%- assign array = links | remove: "\n" | remove: " " | split: "|" | uniq -%}
{%- for a in array -%}
{%- if forloop.last == true -%}
{{ a }}
{%- else -%}
{{ a | append: ","}}
{%- endif -%}
{%- endfor -%}
]}


// check how many items we have per group

function one(i){return i.group == 1};
function two(i){return i.group == 2};
function three(i){return i.group == 3};
function four(i){return i.group == 4};
function five(i){return i.group == 5};

var len = [ data.nodes.filter(one).length,
            data.nodes.filter(two).length,
            data.nodes.filter(three).length,
            data.nodes.filter(four).length,
            data.nodes.filter(five).length
          ]

var colors = ["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"]

// order of the items in the grid. base: order of collections returned from jekyll, start counting with 1 (so we have a leading zero in the array). the "_posts" collection is omitted, so we have a zero value at jekyll's #3.
var orderArray = [0,1,3,0,2,4];

var i,
    s,
    N = data.nodes.length,
    E = data.links.length,
    g = {
      nodes: [],
      edges: []
    };

// Generate a random graph:
for (i = 0; i < N; i++){
var item = data.nodes[i];
var L = len[item.group - 1];
var order =
  g.nodes.push({
    id: item.id,
    label: item.id,
    group: item.group,
    groupLabel: item.groupLabel,
    size: 1,
    color: colors[item.group - 1],

    y: i % L,
    x: orderArray[item.group] * 2

  });
};

for (i = 0; i < E; i++){
var item = data.links[i];
  g.edges.push({
    id: 'e' + i,
    source: item.source,
    target: item.target,
    size: 3,
    color: '#ccc',
    type: 'arrow'
  });
};

console.log(g);

// Add a method to the graph model that returns an
// object with every neighbors of a node inside:
sigma.classes.graph.addMethod('neighbors', function(nodeId) {
  var k,
      neighbors = {},
      index = this.allNeighborsIndex[nodeId] || {};

  for (k in index)
    neighbors[k] = this.nodesIndex[k];

  return neighbors;
});


// Instantiate sigma:
var s = new sigma({
  graph: g,
  container: 'graph-container',
  settings: {
      defaultNodeColor: '#ec5148',
      defaultLabelSize: 8
    }

});


      // We first need to save the original colors of our
      // nodes and edges, like this:

      s.graph.nodes().forEach(function(n) {
        n.originalColor = n.color;
      });

      s.graph.edges().forEach(function(e) {
        e.originalColor = e.color;
      });

      // When a node is clicked, we check for each node
      // if it is a neighbor of the clicked one. If not,
      // we set its color as grey, and else, it takes its
      // original color.
      // We do the same for the edges, and we only keep
      // edges that have both extremities colored.
      s.bind('clickNode', function(e) {
        var nodeId = e.data.node.id,
            toKeep = s.graph.neighbors(nodeId);
        toKeep[nodeId] = e.data.node;

        s.graph.nodes().forEach(function(n) {
          if (toKeep[n.id])
            n.color = n.originalColor;
          else
            n.color = '#eee';
        });

        s.graph.edges().forEach(function(e) {
          if (toKeep[e.source] && toKeep[e.target])
            e.color = e.originalColor;
          else
            e.color = '#eee';
        });

        // Since the data has been modified, we need to
        // call the refresh method to make the colors
        // update effective.
        s.refresh();
      });

      // When the stage is clicked, we just color each
      // node and edge with its original color.
      s.bind('clickStage', function(e) {
        s.graph.nodes().forEach(function(n) {
          n.color = n.originalColor;
        });

        s.graph.edges().forEach(function(e) {
          e.color = e.originalColor;
        });

        // Same as in the previous event:
        s.refresh();
      });


      s.bind('clickNode', function(e) {
      clicknode = e.data.node;
      var left = e['data']['node']['renderer1:x'];
          var top = e['data']['node']['renderer1:y'];
          $('.popover').html(clicknode.label);
          var theHeight = $('.popover').height();
          var theWidth = $('.popover').width();
          $('.popover').css('left', (left)-30 -theWidth+ 'px');
          $('.popover').css('top', (top-(theHeight/2))+35 + 'px');
          $('.popover').show();
      });
      s.bind('clickStage', function(e) {
       $('.popover').hide()
      });

  var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
  dragListener.bind('startdrag', function(event) {
    console.log(event);
  });
  dragListener.bind('drag', function(event) {
    console.log(event);
  });
  dragListener.bind('drop', function(event) {
    console.log(event);
  });
  dragListener.bind('dragend', function(event) {
    console.log(event);
  });

</script>
