{%- comment -%}
  Render the message for an `item`.
{%- endcomment -%}

<h3 lang="en">{{ include.item.title | escape }}</h3>
{% if include.item.date_start%}
<p lang="en">{% include timestamp.html %}</p>
{% endif %}
<p lang="en">{{ include.item.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
{% if include.item.affected.size > 0 %}

  {%- include render_affected.html affected_services=array_affected headline='The following services are affected:'%}
{% elsif include.item.affected_services.size > 0 %}
  {%- include render_affected.html affected_services=include.item.affected_services %}
{% endif %}
