{%- comment -%}
  Check whether TextGrid services are affacted by an `item` of `itemtyp` outage or announcement and render the output.
{%- endcomment -%}


{% comment %} Load TG services {% endcomment %}
{% assign tglab = site.services | where:"id", '/services/tglab' | first %}
{% assign tgrep = site.services | where:"id", '/services/tgrep' | first %}

{% capture tglab_affected %}
  {% for affected_item in include.item.affected %}
    {% include check_service.html affected_item=affected_item service=tglab %}
  {% endfor %}
{% endcapture %}
{% capture tgrep_affected %}
  {% for affected_item in include.item.affected %}
    {% include check_service.html affected_item=affected_item service=tgrep %}
  {% endfor %}
{% endcapture %}

{% comment %} Process outage data {% endcomment %}
<div class="
{%- if tgrep_affected contains "yepp" -%} repstatus {% endif -%}
{%- if tglab_affected contains "yepp" -%} status {% endif -%}
 {{ include.itemtype }}">
  {% comment %} machine-readable strings to check affectedness {% endcomment %}
  {%- if tgrep_affected contains "yepp" -%}<!-- tgrep_is_actually_affected -->{% endif -%}
  {%- if tglab_affected contains "yepp" -%}<!-- tglab_is_actually_affected -->{% endif -%}
  <p lang="en">
    <b>{{ include.item.title }}</b><br/>
    {% include timestamp.html %}
    <br/>
    {{ include.item.description | markdownify | remove: '<p>' | remove: '</p>' }}<br/>
  </p>
</div>
