.highlighter-rouge, #container {
	max-width: 720px;
	margin: 0 auto 12px;
}
.highlight {
	margin: 0;
}
.githubimg {
	display: inline;
}
li > p::before {
	display: none;
}
.main_notice.-success {
	background: rgba(58,151,23,.36);
}
.main_notice.-warning {
    background: rgba(221,221,121,.36);
}
.main_notice.-error {
    background: rgba(221,23,23,.36);
}
