{%- comment -%}
  Main theme.
{%- endcomment -%}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<link rel="stylesheet" href="assets/styles.css">
	<link rel="alternate" type="application/atom+xml" title="Commits as RSS Feed" href="http://github.com/DARIAH-DE/status/commits/master.atom" />
	<meta charset="utf-8">
	<meta name="description" content="{{ page.title }}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src="assets/script.js" defer></script>
	<title>{{ page.title }}</title>
</head>

<body class="site -no-header">
	<div class="site_wrap">
		<div class="logo">
			<a class="logo_link -small" href="" title="Startseite">
				<img class="logo_logo -small" src="assets/logos/dariah-de-logo-de.svg" alt="DARIAH-DE">
				<svg class="logo_logo -spike -small" xmlns="http://www.w3.org/2000/svg" width="518.74" height="246.549" viewBox="0 -12 518.74 246.549">
					<path d="M52.865 25.768c0-10.093 12.995-16.333 21.549-21.516 6.721 4.093 22.397 11.499 22.4 22.119.004 11.79-4.904 31.006-8.806 31.09-4.246.093-10.111-24.356-13.232-24.292-3.12.066-8.929 24.391-12.845 24.385-4.25-.006-9.066-20.801-9.066-31.786" />
				</svg>
			</a>
		</div>

		<main class="main">

		    {{ content }}

            <hr/>
            <p>
                <a href="{{ site.baseurl }}{% link index.md %}">Home</a> &nbsp; &nbsp;
                <a href="{{ site.baseurl }}{% link documentation.md %}">Documentation</a> &nbsp; &nbsp;
                <a href="{{ site.baseurl }}{% link history.md %}">History</a> &nbsp; &nbsp;
                <a href="{{ site.baseurl }}{% link currentdata.md %}">Current data</a> &nbsp; &nbsp;
                <a href="{{ site.baseurl }}{% link fulllist.md %}">Dependency List</a> &nbsp; &nbsp;
                <a href="{{ site.github.repository_url }}">View on GitHub</a>
                <!--img width="20px" src="img/GitHub-Mark/PNG/GitHub-Mark-32px.png"/-->
            </p>
        </main>
	</div>
	<footer class="footer">
		<div class="wrap">
			<div class="footer_left">
				<div>
					<p>
                        <a href="{{ site.impressum_url }}">Imprint</a>
                        <a href="{{ site.privacy_policy_url }}">Privacy Policy</a>
                        <a href="{{ site.privacy_contact_url }}">Contact</a>
					</p>
				</div>
				<div>
					<p> Unless stated otherwise all content of this site are licensed under <a herf="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0-Lizenz</a></p>
				</div>
				<p>
					<a href="https://de.dariah.eu">
						DARIAH-DE
						<br>
						<small>Digital Research Infrastructure for the Arts and Humanities</small>
					</a>
				</p>
			</div>
			<div class="footer_right">
				<p>
					<a href="https://www.bmbf.de/">
						<img alt="Funded by the Federal Ministry of Education and Research" src="assets/logos/bmbf-logo.svg" height="108">
					</a>
				</p>
				<p>
					<small>PROJECT NUMBER 01UG1610A TO J</small>
				</p>
			</div>
		</div>
	</footer>
	<noscript>
		<div>This page requires JavaScript, please enable it!</div>
	</noscript>
</body>
</html>
