---
layout: index
---

<h1>DARIAH-DE :: Status</h1>

<div class="status info">
  <h2>Current notifications</h2>
    <p>Latest update: <strong>{{ site.time | date: '%c' }}</strong></p>

{% if site.data.outages.size > 0 %}
  <div class="alert alert-error">Service Disruption!</div>

  {% for outage in site.data.outages %}
    {% include single_status_message.html item=outage %}
  {% endfor %}

{% assign have_messages = true %}
{% endif %}
{% if site.data.announcements.size > 0 %}
  <div class="alert alert-warning">Announcements.</div>

  {% for announcement in site.data.announcements %}
    {% include single_status_message.html item=announcement %}
  {% endfor %}

{% assign have_messages = true %}
{% endif %}


{% unless have_messages %}
    <div class="alert alert-success">All services are available</div>
{% endunless %}


</div>

<p><a href="mailto:{{ site.support_mail }}?subject=Service down"><i class="fa fa-envelope" aria-hidden="true"></i> Is there a service missing? Please contact us.</a></p>

{{ content }}

