.dariah-status-message-status {
  background-color: #f8f8f8;
  font-size: 12px;
  font-family: 'ArialMT', 'Arial', sans-serif;
  text-align: center;
  color: black;
  margin: 1em;
  padding: 1em;
}
.dariah-status-message-error {
  background-color: #fcc;
  border: 1px solid red;
  color: black;
  padding: 12px;
  border-radius: 8px;
}
.dariah-status-message-warning {
  background-color: #ffc;
  border: 1px solid yellow;
  color: black;
  padding: 12px;
  border-radius: 8px;
}
.dariah-status-message-failed {
  border: 2px solid red;
}
.dariah-status-message-ok {
  background-color: #cfc;
/*  display: none; */
  padding: 12px;
  border-radius: 8px;
}
.dariah-status-message-pending {
  background-color: white;
}
.dariah-status-message-info {
  border: 1px solid blue;
}
